body {
  font-family: 'LFT Etica Mono';
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

.iconsright {
  position: absolute;
  right: 40px;
  margin-top: 0.5em;
  font-size: 15px;
}

nav a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allMasksContainer {
  margin: 0 auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 3em;
}

.singleMaskPreviewImg {
  width: 100%;
  height: auto;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 28px;
}

.maskNamePrice {
  display: flex;
  justify-content: space-between;
}

.maskContainer {
  display: flex;
  margin-top: 4em;
  position: relative;
  justify-content: center;
  margin-right: 200px;
  margin-left: 200px;
}

.maskInfo {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-right: 50px;
  justify-content: space-around;
  margin-left: 120px;
}

.singleMaskImg {
  max-width: 50%;
}

.qtyForCart {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
}

.appbar {
  font-family: 'Semplicita Pro';
  font-size: 20px;
}

.cinnamon-header {
  font-family: 'Semplicita Pro';
  font-size: 50px;
}

.shipping {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arial';
}

.payment {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Arial';
}

.checkoutContainer {
  width: 100%;
  margin-top: 4em;
  margin-left: 5em;
  margin-right: 4em;
  text-align: left;
}

#shopping-cart {
  padding-top: 80px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.checkout {
  margin-top: 2vw;
  margin-bottom: 6vw;
  float: right;
}

.place-order {
  margin-top: 2vw;
  margin-bottom: 6vw;
  float: right;
}

.order-complete {
  text-align: center;
  padding: 5% 10% 10% 10%;
}

.order-complete-img {
  padding: 50px;
  width: 70%;
  height: 70%;
  border: 50px solid #3045ff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerfooter {
  margin-top: calc(5% + 600px);
  bottom: 0;
  width: 100%;
}

.welcomepage {
  font-size: 15px;
  /* margin-left: 6vw;
  margin-top: 2vw; */
}

.google {
  margin-top: 20px;
  text-align: center;
}
