body {
  font-family: 'Omnes ExtraLight';
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-footer {
  display: flex;
  margin: 1em;
  display: inline-block;
  justify-content: center;
}

.singleMaskPreviewImg {
  width: 30%;
  height: 30%;
}

.allMasksContainer {
  margin: 1em;
}

.maskContainer {
  margin: 3em;
}

#appbar {
  font-family: 'Arial';
}

.cinnamon-header {
  font-size: 40px;
}
