body {
  font-family: 'LFT Etica Mono';
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-footer {
  display: flex;
  margin: 1em;
  display: inline-block;
  justify-content: center;
}

.singleMaskPreviewImg {
  width: 100%;
  height: auto;
}

.allMasksContainer {
  /* display: block; */
  margin-top: 3em;
  /* position: relative;
  display: flex;
  justify-content: center; */
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 3em;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 28px;
}

.maskNamePrice {
  display: flex;
  justify-content: space-between;
}

.maskContainer {
  margin: 3em;
}

.appbar {
  font-family: 'Arial';
}

.cinnamon-header {
  font-size: 50px;
}
